.hover-container {
    position: relative;
    display: inline-block;
}

.hover-container .hover-field-value {
    visibility: hidden; /* Initially hide the phone number */
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.hover-container .hover-default {
    visibility: visible; /* Show 'Phone' text by default */
    opacity: 1;
    transition: opacity 0.3s;
}

.hover-container:hover .hover-default {
    visibility: hidden; /* Hide 'Phone' text on hover */
    opacity: 0;
}

.hover-container:hover .hover-field-value {
    visibility: visible; /* Show the phone number on hover */
    opacity: 1;
}

.btn-connected {
                    background-color: #a6f283;
                    width: 120px;
                    height: 40px;
                    font-size: 14px;
                    text-align: center;
                    }
                    .btn-not-connected {
                    background-color: #f58667;
                    color: white;
                    width: 120px;
                    height: 40px;
                    font-size: 14px;
                    text-align: center;
                    }
                    .btn-convert {
                    background-color: #347512;
                    color:white;

                    }
                    .btn-lost {
                    background-color: #db350f;
                    color:white;

                    }
.o_progress_info {
    background-color: #17a2b8 !important; /* Info blue */
}
.o_progress_primary {
    background-color: #007bff !important; /* Primary blue */
}
.o_progress_success {
    background-color: #28a745 !important; /* Success green */
}
.o_progress_danger {
    background-color: #dc3545 !important; /* Danger red */
}
.o_progress_warning {
    background-color: #ffc107 !important; /* Warning yellow */
}
.o_progress_light {
    background-color: #f8f9fa !important; /* Light grey */
}
.o_progress_dark {
    background-color: #343a40 !important; /* Dark grey */
}
.o_progress_secondary {
    background-color: #6c757d !important; /* Secondary grey */
}
.o_progress_muted {
    background-color: #e9ecef !important; /* Muted grey */
}
